{% extends 'student_template/student_base.html' %}
{% block custom_css %}
<style>
.col-lg-3.attendance_div_red {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f44336;
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-lg-3.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #388e3c;
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}
{% block title %}Student Attendance Report{% endblock %}
{% block page_title %}Student Attendance Report{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Attendance Data</h3>
          </div>
          <div class="card-body">
              <div class="row">
              {% if attendance_reports %}
              {% for attendance_report in attendance_reports %}
                 {% if attendance_report.status == True %}
                  <div class="col-lg-3 attendance_div_green">
                      <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                      <br>
                      <b>[ Status : Present ]</b>
                  </div>
                  {% else %}
                  <div class="col-lg-3 attendance_div_red">
                      <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                      <br>
                      <b>[ Status : Absent ]</b>
                  </div>
                  {% endif %}
              {% endfor %}
              {% else %}
                  <div class="alert alert-danger text-center">No Attendance Data Found!</div>
               {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
