{% extends 'admin_template/admin_base.html' %}
{% load static %}
{% block title %}Add Student{% endblock %}
{% block page_title %}Add Student{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          {% url 'save_student' as action_path %}
          {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Student" %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block custom_js  %}
  <script>
    $(document).ready(function(){
      $("#id_email").keyup(function(){
        var email=$(this).val();

        if(email!=""){
          $.ajax({
            url:'{% url "check_for_email" %}',
            type:'POST',
            data:{email:email}
          })
          .done(function(response){
            console.log(response);
            if(response=="True"){
              $(".email_error").remove();
              $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email Currently In Use</span>").insertAfter("#id_email");
            }
            else{
              $(".email_error").remove();
              $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Is Available!</span>").insertAfter("#id_email");
            }
          })
          .fail(function(response){
            console.log("failed");
          })
        }
        else{
          $(".email_error").remove();
        }
      });
      $("#id_username").keyup(function(){
        var username=$(this).val();

        if(username!=""){
          $.ajax({
            url:'{% url "check_for_username" %}',
            type:'POST',
            data:{username:username}
          })
          .done(function(response){
            console.log(response);
            if(response=="True"){
              $(".username_error").remove();
              $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Is Currently In Use</span>").insertAfter("#id_username");
            }
            else{
              $(".username_error").remove();
              $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Is Available!</span>").insertAfter("#id_username");
            }
          })
          .fail(function(response){
            console.log("failed");
          })
        }
        else{
          $(".username_error").remove();
        }
      });
    });
  </script>
  {% endblock custom_js %}
