{% extends 'admin_template/admin_base.html' %}
{% load static %}
{% block title %}Add Student{% endblock %}
{% block page_title %}Add Student{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          {% url 'save_student' as action_path %}
          {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Student" %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
