{% extends 'admin_template/admin_base.html' %}
{% load static %}
{% block title %}Edit Student{% endblock %}
{% block page_title %}
Edit Student - {{ username }} | ID: {{ id }}
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          {% url 'save_student_edits' as action_path %}
          {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Save Changes" %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
