{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link">
    <img src="{% static 'dist/img/leaves.svg' %}" alt="Logo" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light">Project STEM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'admin_home' %}" class="d-block">Signed in as: {{ user.username }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <a href="{% url 'admin_home' %}" class="nav-link">
            <i class="fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="fas fa-atom"></i>
            <p>
              S.T.E.M Principles
            </p>
          </a>
        </li>
        <br>
        <hr style="width:90%;text-align:left;margin-top:0" color="white">
        <li class="nav-header"><h6>ADD TO SYSTEM</h6></li>
        <li class="nav-item">
          <a href="{% url 'add_staff' %}" class="nav-link">
            <i class="fas fa-chalkboard-teacher"></i>
            <p>
              Add Staff Member
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'add_student' %}" class="nav-link">
            <i class="fas fa-book-reader"></i>
            <p>
              Add Student
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'add_course' %}" class="nav-link">
            <i class="fas fa-school"></i>
            <p>
              Add Course
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'add_subject' %}" class="nav-link">
            <i class="fas fa-square-root-alt"></i>
            <p>
              Add Subject
            </p>
          </a>
        </li>
        <br>
        <hr style="width:90%;text-align:left;margin-top:0" color="white">
        <li class="nav-header"><h6>MANAGE SYSTEM</h6></li>
        <li class="nav-item">
          <a href="{% url 'manage_staff' %}" class="nav-link">
            <i class="fas fa-chalkboard-teacher"></i>
            <p>
              Manage Staff Members
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'manage_students' %}" class="nav-link">
            <i class="fas fa-book-reader"></i>
            <p>
              Manage Students
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'manage_courses' %}" class="nav-link">
            <i class="fas fa-school"></i>
            <p>
              Manage Courses
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'manage_subjects'  %}" class="nav-link">
            <i class="fas fa-square-root-alt"></i>
            <p>
              Manage Subjects
            </p>
          </a>
        </li>
        <br>
        <hr style="width:90%;text-align:left;margin-top:0" color="white">
        <li class="nav-header"><h6>ATTENDANCE</h6></li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-clipboard"></i>
            <p>
              View Attendance
            </p>
          </a>
        </li>
        <br>
        <hr style="width:90%;text-align:left;margin-top:0" color="white">
        <li class="nav-header mb-2"><h6>FEEDBACK</h6></li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-comment-dots"></i>
            <p>
              Staff Feedback
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-comment-dots"></i>
            <p>
              Student Feedback
            </p>
          </a>
        </li>
        <br>
        <hr style="width:90%;text-align:left;margin-top:0" color="white">
        <li class="nav-header"><h6>LEAVE REPORTS</h6></li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-door-open"></i>
            <p>
              Staff Leave
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-door-open"></i>
            <p>
              Student Leave
            </p>
          </a>
        </li>
        <br>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
