{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
  {% if validlink  %}
  <div class="login-box">
    <div class="login-logo">
      <h1>Project<b>STEM</b></h1>
    </div>
    <div class="text-center">
      <img src="{% static 'dist/img/leaves.svg' %}" alt="Logo" style="width:auto;height:100px;">
      <br><hr>
      <h4>Science · Tech · Engineering · Math</h4>
      <br>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Change Password</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
            </div>
            {% endfor %}
            <button type="submit" class="btn-block btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <p class="text-center">
    The password link has expired. Please request another.
  </p>
  {% endif %}
{% endblock %}
